img{
    margin-top: -60px;
    height: 350px;
    width: 350px;
    border-radius: 10px;
}
body{
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
    color: #ffffff;
    text-align: center;
}
.background {
    width: 398px;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

h1,h2,div{
    margin-bottom: 0;
    margin-top: 0;
}
.fig {
    display: block; 
    text-align: center; 
    font-style: italic; 
    margin-top: 3%; 
    margin-bottom: 5px; 
    color: rgb(255, 255, 255);
    padding: 10px;
    backdrop-filter: blur(5px);
}
a{
    text-decoration: none;
}
.btn-back{
    margin: 0px auto;
    display: grid;
    place-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    height: 50px;
    width: 60%;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    line-height: 24px;
    color: var(--text-color);
    transition-duration: .2s;
    transition-property: background-size, box-shadow;
    background: var(--bg-gradient);
    box-shadow: 0 0 #0000;
    background-size: 100% 100%;
    position: relative;
    border: none;
    border-radius: var(--radius);
    background-color: #ACE309;
    border-radius: 12px;
    color: black;
    font-weight: 600;
    margin-top: 20px;
}
.btn{
    margin: 0px auto;
    display: grid;
    place-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    height: 70px;
    width: 90%;
    cursor: pointer;
    font-size: 20px;
    line-height: 24px;
    color: var(--text-color);
    transition-duration: .2s;
    transition-property: background-size, box-shadow;
    background: var(--bg-gradient);
    box-shadow: 0 0 #0000;
    background-size: 100% 100%;
    position: relative;
    border: none;
    border-radius: var(--radius);
    background-color: #ACE309;
    border-radius: 12px;
    color: black;
    font-weight: 600;
    margin-top: 20px;
}
.btn:active {
    color: #28a745;
}
.name{
    margin-top:20px;
}
.name, .undername{
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.btn2{
    margin-top:10px;
    border: solid 1px #b2f2a3;
    background-color: #28a909;
    box-shadow: inset 0 1px 1px #ffffff80;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    border-radius: 20px;
    padding:10px;
    font-size: 30px;
    width: 130px;
    box-shadow: 0px 0px 8px 1px #934718;
}
.back{
    margin: auto;
    background-color: #2D2D30;
    height: 350px;
    width: 350px;
    border-radius: 10px;
}

.random{
    display: none;
    font-size: 89px;
    position: absolute;
    text-align: center;
    color: #fff;
    left: 0;
    width: 100%;
    margin-top: 75px;   
}

.load{
    width:300px;
    height:300px;
}
@media(max-width:1400px){
    .random{
        margin-top: 120px;
    }
}
@media(max-width:1000px){
}
@media(max-width:600px){
    .random{
        margin-top: 120px;
    }
}
@media(max-width:480px){
    .name, .undername{
        font-size: 33px;
    }
    /* body{
        background-image: url("img/back4.png");
    } */
    img{
        margin-top: -55px;
        height: 320px;
        width: 320px;
    }
    .back{
        height: 320px;
        width: 320px;
    }
    .btn{
        font-size: 35px;
    }
    .random{
        margin-top: 105px;  
    }
}
@media(max-width:400px){
    .name, .undername{
        font-size: 29px;
    }
    img{
        margin-top: -50px;
        height: 330px;
        width: 330px;
    }
    .btn{
        font-size: 30px;
    }
    .back{
        height: 330px;
        width: 330px;
    }
    .random{
        margin-top: 105px;  
    }
}
@media(max-width:390px){    

}
@media(max-width:380px){

    .random{
        margin-top: 105px;  
    }
}
@media(max-width:370px){
    .name, .undername{
        font-size: 29px;
    }
    .btn{
        font-size: 25px;
    }
    img{
        margin-top: -45px;
        height: 280px;
        width: 280px;
    }
    .load{
        margin-top:25px;
        width:200px;
        height:200px;
    }
    .back{
        height: 280px;
        width: 280px;
    }
    .random{
        margin-top: 80px; 
    }
}
@media(max-width:300px){
    .name, .undername{
        font-size: 27px;
    }
    .btn{
        font-size: 20px;
    }
    img{
        margin-top: -40px;
        height: 255px;
        width: 255px;
    }
    .back{
        height: 255px;
        width: 255px;
    }
    .random{
        margin-top: 70px;
    }
}
@-webkit-keyframes bounce-arrow {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0px);
    }
}

@-moz-keyframes bounce-arrow {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes bounce-arrow {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0px);
    }
}

.arrow {
    -webkit-animation: bounce-arrow 1.3s infinite ease-in-out;
    -moz-animation: bounce-arrow 1.3s infinite ease-in-out;
    -o-animation: bounce-arrow 1.3s infinite ease-in-out;
    animation: bounce-arrow 1.3s infinite ease-in-out;
}

.btn {
    animation-name: pulse;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.07);
    }

    100% {
        transform: scale(1);
    }
}
