@font-face {
    font-family: 'Intro';
    src: url('../fonts/intro.otf') format('opentype');
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    background-color: black;
    font-family: 'Arial', sans-serif;
}

/* Стили для экранов с длиной больше 650px */
@media (min-height: 650px) {
    @keyframes slideDown {
        0% {
            opacity: 0;
            transform: translateY(-20px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes slideUp {
        0% {
            opacity: 1;
            transform: translateY(0);
        }
        100% {
            opacity: 0;
            transform: translateY(-20px);
        }
    }

    #container1 {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 2%;
        width: 80vw;
        height: 80vw;
        max-width: 600px;
        max-height: 600px;
        background-color: #1B1C1F;
        border-radius: 20px;
        padding: 3%;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
        margin: 0 auto 20px auto;
    }

    .square-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .square {
        width: 100%;
        height: 100%;
        background-image: url("../img/mines1win-img/mineshidden.png");
        border-radius: 10px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }

    .icon {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    #trap-selector1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 80vw;
        max-width: 600px;
        background-color: #1B1C1F;
        border-radius: 15px;
        padding: 10px 20px;
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
        box-sizing: border-box;
        margin: 0 auto;
    }

    .trap-btn1 {
        background: linear-gradient(145deg, #a96823, #7e4a12);
        border: none;
        color: white;
        font-size: 28px;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 15px;
        user-select: none;
        transition: background 0.3s ease, transform 0.2s ease;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    }

    .trap-btn1:hover {
        background: linear-gradient(145deg, #6b4310, #55350b);
        transform: translateY(-3px);
    }

    #trap-count {
        font-size: 36px;
        color: white;
        font-weight: bold;
        padding: 0 20px;
        text-align: center;
    }

    #explodeButton, #closeButton {
        margin-top: 20px;
        padding: 12px 24px;
        font-size: 18px;
        color: white;
        background-color: #a96823;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s ease, transform 0.2s ease;
        width: 80vw;
        max-width: 600px;
        font-family: 'Intro';
    }

    #explodeButton:hover, #closeButton:hover {
        background-color: #7e4a12;
        transform: translateY(-3px);
    }

    #notification1 {
        display: none;
        color: white;
        background-color: #7e4a12;
        padding: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
        font-style: italic;
        position: absolute;
        top: 55px;
        left: 0;
        right: 0;
        margin: auto;
        width: 80vw;
        max-width: 600px;
        animation: slideDown 0.5s ease forwards;
    }

    #notification1.fade-out {
        animation: slideUp 0.5s ease forwards;
    }

    #progress-bar1 {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 5px;
        background-color: #ff1744;
        width: 0;
    }
}

/* Стили для экранов с длиной меньше или равной 650px */
@media (max-height: 650px) {
    @keyframes slideDown {
        0% {
            opacity: 0;
            transform: translateY(-20px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes slideUp {
        0% {
            opacity: 1;
            transform: translateY(0);
        }
        100% {
            opacity: 0;
            transform: translateY(-20px);
        }
    }

    #container1 {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 2%;
        width: 70vw;
        height: 70vw;
        max-width: 300px;
        max-height: 300px;
        background-color: #1B1C1F;
        border-radius: 20px;
        padding: 3%;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
        margin: 0 auto 20px auto;
    }

    .square-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .square {
        width: 100%;
        height: 100%;
        background-image: url("../img/mines1win-img/mineshidden.png");
        border-radius: 10px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }

    .icon {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    #trap-selector1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 70vw;
        max-width: 300px;
        background-color: #1B1C1F;
        border-radius: 15px;
        padding: 10px 20px;
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
        box-sizing: border-box;
        margin: 0 auto;
    }

    .trap-btn1 {
        background: linear-gradient(145deg, #a96823, #7e4a12);
        border: none;
        color: white;
        font-size: 24px;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 15px;
        user-select: none;
        transition: background 0.3s ease, transform 0.2s ease;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    }

    .trap-btn1:hover {
        background: linear-gradient(145deg, #6b4310, #55350b);
        transform: translateY(-3px);
    }

    #trap-count1 {
        font-size: 36px;
        color: white;
        font-weight: bold;
        padding: 0 20px;
        text-align: center;
    }

    #explodeButton, #closeButton {
        margin-top: 20px;
        padding: 12px 24px;
        font-size: 16px;
        color: white;
        background-color: #a96823;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s ease, transform 0.2s ease;
        width: 70vw;
        max-width: 300px;
        font-family: 'Intro';
    }

    #explodeButton:hover, #closeButton:hover {
        background-color: #7e4a12;
        transform: translateY(-3px);
    }

    #notification1 {
        display: none;
        color: white;
        background-color: #7e4a12;
        padding: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
        font-style: italic;
        position: absolute;
        top: 55px;
        left: 0;
        right: 0;
        margin: auto;
        width: 80vw;
        max-width: 600px;
        animation: slideDown 0.5s ease forwards;
    }

    #notification1.fade-out {
        animation: slideUp 0.5s ease forwards;
    }

    #progress-bar1 {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 5px;
        background-color: #ff1744;
        width: 0;
    }
}

canvas#particleCanvas1 {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -1;
pointer-events: none;
}
header {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    font-family: 'Intro', Arial, sans-serif;
    box-sizing: border-box;
    font-size: 24px;
}
header img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
    border-radius: 50%;
}
.tab {
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px 0;
    border-radius: 50px;
    height: 70px; /* Фиксированная высота для десктопа */
}

.tab button {
    background-color: inherit;
    flex: 1 0 auto;
    margin: 0 10px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 20px;
    transition: 0.3s;
    color: #fff;
    text-align: center;
    border-radius: 50px;
    font-size: 16px;
    font-family: 'Intro', Arial, sans-serif;
}

.tab button img {
    max-width: 38px;
    height: 38px;
}

.tab button:hover {
    background-color: #555;
    transform: translateY(-2px);
}

.tab button.active {
    background-color: #666;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

/* Медиазапросы для адаптации на мобильных устройствах */
@media (max-width: 768px) {
    .tab {
        height: 70px; /* Фиксированная высота для планшетов */
    }

    .tab button {
        margin: 0 5px;
        padding: 10px 15px;
        font-size: 14px;
    }

    .tab button img {
        max-width: 32px;
        height: 32px;
    }
}

@media (max-width: 480px) {
    .tab {
        height: 70px; /* Фиксированная высота для мобильных устройств */
    }


    .tab button {
        margin: 0 3px;
        padding: 8px 12px;
        font-size: 12px;
    }

    .tab button img {
        max-width: 28px;
        height: 28px;
    }
}

/* Убираем синий эффект выделения при нажатии на мобильных устройствах */
button, select, input, textarea, a {
    -webkit-tap-highlight-color: transparent;
    -webkit-focus-ring-color: transparent;
    outline: none;
}

* {
    -webkit-tap-highlight-color: transparent; /* Убирает подсветку при нажатии на любом элементе */
    -webkit-touch-callout: none; /* Отключает вызов меню на долгий тап */
}